<md-toolbar layout="row" class="md-toolbar-tools or-home-title-toolbar" >
    <section layout="row" layout-sm="column" layout-align="start center">
        <md-icon class="material-icons or-dark-36">people</md-icon>
        <h3>Top Rated Authors</h3>
    </section>
    <div flex></div>
    <section hide="hide" show-gt-sm="show-gt-sm" layout-align="end center">
        <md-button md-colors="{background: 'blue'}">
            <span style="font-size: 12px;">All Authors</span>
        </md-button>
    </section>
</md-toolbar>

<md-grid-list layout-padding
              md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile style="background-color: #000">
        <md-grid-tile-footer>
            <h3>#1: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #000">
        <md-grid-tile-footer>
            <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #000">
        <md-grid-tile-footer>
            <h3>#3: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #000">
        <md-grid-tile-footer>
            <h3>#1: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #000">
        <md-grid-tile-footer>
            <h3>#2: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #000">
        <md-grid-tile-footer>
            <h3>#3: (1r x 1c)</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>