<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
    <md-toolbar class="md-theme-indigo" layout="row">
        <h1 class="md-toolbar-tools">Menu</h1>
        <md-icon class="material-icons" ng-click="shared.closeSidenav('left')">close</md-icon>
    </md-toolbar>

    <md-content layout="column" class="layout-padding md-hue-1 flex noSelect">
        <p>
            This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
    </md-content>

</md-sidenav>