<!--Facebook-->
<md-input-container class="md-block">
    <label translate="m_user.label.facebook"></label>
    <input ng-model="userEdit.user.media_social.facebook"
           placeholder="{{'m_user.label.medsoc_description' | translate}} {{'m_user.label.facebook' | translate}}">
</md-input-container>

<!--Twitter-->
<md-input-container class="md-block">
    <label translate="m_user.label.twitter"></label>
    <input ng-model="userEdit.user.media_social.twitter"
           placeholder="{{'m_user.label.medsoc_description' | translate}} {{'m_user.label.twitter' | translate}}">
</md-input-container>

<!--YouTube-->
<md-input-container class="md-block">
    <label translate="m_user.label.youtube"></label>
    <input ng-model="userEdit.user.media_social.youtube"
           placeholder="{{'m_user.label.medsoc_description' | translate}} {{'m_user.label.youtube' | translate}}">
</md-input-container>

<!--Personal Blog / Site-->
<md-input-container class="md-block">
    <label translate="m_user.label.personal_blog"></label>
    <input ng-model="userEdit.user.media_social.site"
           placeholder="{{'m_user.label.medsoc_description' | translate}} {{'m_user.label.site' | translate}}">
</md-input-container>