<md-content class="md-padding">
    <section layout="row" layout-wrap layout-align="center">
        <md-card ng-if="session.user.id == userShow.userId" style="width: 250px; margin-top: 30px; margin-right: 20px; background: #f2f2f2; cursor: pointer" class="md-whiteframe-10dp">
            <md-card-title>
                <!--<md-card-title-text>-->
                    <!--<span class="md-subhead" style="text-align: center">{{'m_user.label.add_recipe' | translate}}</span>-->
                <!--</md-card-title-text>-->
            </md-card-title>
            <md-card-content layout="row" layout-align="center center" style="margin-top: -40px">
                <a class="md-media-xl card-media" ng-href="/recipe-create">
                    <md-icon md-font-icon="fa-plus-circle" class="fa" style="font-size: 5em; display: block; text-align: center"></md-icon>
                    <span class="or-recipe-upload-img" translate="m_user.label.add_recipe"></span>
                </a>
            </md-card-content>
        </md-card>

        <md-card ng-repeat="recipe in userShow.loadPersonalRecipe" style="width: 250px; margin-top: 30px; margin-right: 20px" class="md-whiteframe-10dp">
            <md-card-title>
                <md-card-title-text>
                    <a ng-href="/recipe-profile?recipeId={{recipe.id}}" style="text-align: center">
                        <span class="md-headline">{{recipe.title}}</span>
                    </a>
                    <ul class="md-subhead" style="margin-top: 30px; border-top: 1px dotted #e6e6e6; min-height: 51px; list-style: none;">
                        <li style="display: inline-block; margin-right: 10px">
                            <span style="font-size: 10px"><md-icon md-font-icon="fa-clock-o" class="fa"></md-icon> {{recipe.cookTime}}</span>
                        </li>
                        <li style="display: inline-block; margin-right: 10px">
                            <span style="font-size: 10px"><md-icon md-font-icon="fa-users" class="fa"></md-icon> {{recipe.serving}}</span>
                        </li>
                    </ul>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="center center" style="margin-top: -40px">
                <img ng-src="{{recipe.imageUrl}}" class="md-media-xl card-media">
            </md-card-content>
        </md-card>
    </section>

    <div style="height: 60px"></div>

    <section ng-if="userShow.personalRecipePagination.total > 1" layout="row" layout-padding="">
        <or-pagination flex
                       or-pages="userShow.personalRecipePagination.total"
                       or-steps="userShow.personalRecipePagination.steps"
                       or-page-changed="userShow.loadPersonalRecipeData()"
                       or-align="center center"
                       or-current-page="userShow.personalRecipePagination.current"
        ></or-pagination>

    </section>
</md-content>