<div layout="column" layout-xs="column">
    <md-card class="md-whiteframe-10dp">
        <md-card-content layout="column" layout-xs="column">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{'m_user.label.tab_profile' | translate}}">
                    <ng-include src="'modules/user/views/show/_profile.tpl.html'"></ng-include>
                </md-tab>

                <md-tab label="{{'m_user.label.tab_favorite_recipe' | translate}}">
                    <ng-include src="'modules/user/views/show/_favorite_recipe.tpl.html'"></ng-include>
                </md-tab>

                <md-tab label="{{'m_user.label.tab_personal_recipe' | translate}}">
                    <ng-include src="'modules/user/views/show/_personal_recipe.tpl.html'"></ng-include>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>

