<md-toolbar layout="row" class="md-toolbar-tools or-home-index-title-toolbar" >
    <section layout="row" layout-sm="column" layout-align="start center">
        <md-icon md-font-icon="fa-calendar-o" class="fa or-dark-36"></md-icon>
        <h3 translate="m_home.title.new_recipes"></h3>
    </section>
    <div flex></div>
    <section hide="hide" show-gt-sm="show-gt-sm" layout-align="end center">
        <md-button md-colors="{background: 'blue'}" ng-href="/recipe-search">
            <span style="font-size: 12px;" translate="m_home.button.all_new_recipes"></span>
        </md-button>
    </section>
</md-toolbar>

<div class="md-padding" layout="row" layout-wrap layout-align="center">
    <md-card ng-repeat="recipe in home.loadNewRecipes"
             style="width: 350px; margin-top: 30px; margin-right: 40px; margin-bottom: 20px;" class="md-whiteframe-10dp">
        <img ng-src="assets/washedout.png" class="md-card-image or-recipe-card-img" alt="Washed Out">
        <button ng-if="isUserLogedIn" class="or-recipe-card-favorite" ng-class="isUserFavorite(recipe.favorites) ? 'marked' : ''" add-favorite user-id="{{session.user.id}}" recipe-id="{{recipe.id}}">
            <md-tooltip ng-if="!isUserFavorite(recipe.favorites)" md-direction="bottom">{{'m_recipe.label.add_to_favorite'|translate}}</md-tooltip>
            <md-tooltip ng-if="isUserFavorite(recipe.favorites)" md-direction="bottom">{{'m_recipe.label.my_favorite'|translate}}</md-tooltip>
        </button>
        <md-card-title>
            <md-card-title-text>
                <a ng-href="/recipe-profile?recipeId={{recipe.id}}">
                    <span class="md-headline">{{recipe.title}}</span>
                </a>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p class="or-home-index-description">{{recipe.description}} </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center center" style="border-top: 1px solid #9e9e9e;">
            <div class="or-home-index-card-footer">
                <md-tooltip md-direction="bottom">Cooking time</md-tooltip>
                <md-icon md-font-icon="fa-clock-o" class="fa"></md-icon>
                <span>{{recipe.cookTime }}</span>
            </div>
            <div class="or-home-index-card-footer">
                <md-tooltip md-direction="bottom">Serving for</md-tooltip>
                <md-icon md-font-icon="fa-users" class="fa"></md-icon>
                <span>{{recipe.serving}} People</span>
            </div>
            <div class="or-home-index-card-footer">
                <span class="or-level {{recipe.difficultyLevel}}">
                        <md-tooltip md-direction="bottom">
                          Difficulty: {{recipe.difficultyLevel.charAt(0).toUpperCase() + recipe.difficultyLevel.substr(1).toLowerCase()}}
                        </md-tooltip>
                        <span class="or-level-1"></span>
                        <span class="or-level-2"></span>
                        <span class="or-level-3"></span>
                    </span>
            </div>
        </md-card-actions>
    </md-card>
</div>