<md-toolbar layout="row" class="md-toolbar-tools or-home-index-title-toolbar" >
    <section layout="row" layout-sm="column" layout-align="start center">
        <md-icon md-font-icon="fa-users" class="fa or-dark-36"></md-icon>
        <h3 translate="m_home.title.top_authors"></h3>
    </section>
    <div flex></div>
    <section hide="hide" show-gt-sm="show-gt-sm" layout-align="end center">
        <md-button md-colors="{background: 'blue'}" ng-href="/user-list">
            <span style="font-size: 12px;" translate="m_home.button.all_top_authors"></span>
        </md-button>
    </section>
</md-toolbar>

<md-grid-list layout="row" layout-xs="column"
              md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile style="background-color: #eee;" ng-repeat="author in home.loadTopAuthors">
        <md-grid-tile>
            <img ng-if="author.photoName == null" src="assets/no_photo_profile.png">
            <img ng-if="author.photoName != null" src="{{author.photoName}}">
        </md-grid-tile>
        <md-grid-tile-footer layout-align="center center">
            <a ng-href="/profile-show?userId={{author.id}}">
                <h3 style="color: #000; font-weight: bolder">{{author.lastName}}</h3>
            </a>
        </md-grid-tile-footer>
    </md-grid-tile>
    <!--<div class="image" ng-repeat="author in home.loadTopAuthors" data-content="{{author.name}}" >-->
        <!--<img src="assets/no_photo_profile.png" alt="" />-->
    <!--</div>-->
</md-grid-list>