@import './bower_components/angular-material/angular-material.scss';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(http://fonts.googleapis.com/css?family=Lato%3A400%2C300%2C700&ver=4.6.1);
@import './bower_components/components-font-awesome/scss/font-awesome.scss';
@import './home.scss';
@import './user.scss';
@import './recipe.scss';
@fa-font-path: "./components-font-awesome/fonts";

body{
  font-family: "Lato",sans-serif;
  color: #676767;
  font-size: 15px;
  line-height: 24px;
}

a{
  text-decoration: none;
}

.material-icons{
  font-size: 20px;
}

//Search Style
.or-autocomplete li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.or-autocomplete li:last-child {
  border-bottom-width: 0; }

.or-autocomplete .item-title,
.or-autocomplete .item-metadata {
  display: block;
  line-height: 2; }

.or-autocomplete .item-title md-icon {
  height: 18px;
  width: 18px; }

.material-icons.or-dark-36{
  color: #676767;
  font-size: 35px;
  margin-right: 20px;
  margin-bottom: 12px;
}

