<!--<div class="md-padding" layout="row" layout-wrap layout-align="center">-->
    <!---->
<!--</div>-->

<md-card class="md-whiteframe-10dp">
    <md-card-content>
        <div layout="row" layout-xs="column" layout-align="center">
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.filter_category"></label>
                <md-select ng-model="recipeSearch.filter.category">
                    <md-option ng-repeat="lc in recipeSearch.loadCategories" value="{{lc}}">{{lc.charAt(0).toUpperCase()}}</md-option>
                </md-select>
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.filter_cuisine"></label>
                <md-select ng-model="recipeSearch.filter.cuisine">
                    <md-option ng-repeat="lc in recipeSearch.loadCuisine" value="{{lc}}">{{lc.charAt(0).toUpperCase()}}</md-option>
                </md-select>
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.filter_sort"></label>
                <md-select ng-model="recipeSearch.filter.sort">
                    <md-option ng-repeat="(key, value) in recipeSearch.loadSort" value="{{key}}">{{value}}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row" layout-xs="column" layout-align="center">
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.filter_ingredients"></label>
                <input ng-model="recipeSearch.filter.ingredients">
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.filter_keyword"></label>
                <input ng-model="recipeSearch.filter.keyword">
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <md-input-container flex="30" flex-xs="100">
                <md-button md-colors="{background: 'green'}" style="width: 100%" ng-click="recipeSearch.doSearch()">
                    <span translate="m_recipe.button.filter_search" layout-align="center"></span>
                </md-button>
            </md-input-container>
        </div>
    </md-card-content>
</md-card>