<div class="md-padding" layout="row" layout-wrap layout-align="center">
    <md-card ng-repeat="recipe in recipeSearch.loadNewRecipes" style="width: 350px; margin-top: 30px; margin-right: 40px; margin-bottom: 20px" class="md-whiteframe-10dp">
        <img ng-src="assets/washedout.png" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{recipe.name}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>{{recipe.description}} </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center center" style="border-top: 1px solid #9e9e9e;">
            <div class="or-home-index-card-footer">
                <md-icon class="material-icons">access_time</md-icon>
                <span>{{recipe.time}}</span>
            </div>
            <div class="or-home-index-card-footer">
                <md-icon class="material-icons">people</md-icon>
                <span>{{recipe.people}} People</span>
            </div>
        </md-card-actions>
    </md-card>
</div>