<md-card class="md-whiteframe-10dp">
    <md-card-content layout="column" layout-xs="column">
        <md-input-container class="or-recipe-upload">
            <div ngf-select="recipeCreate.uploadImage($file)" ngf-drop="recipeCreate.uploadImage(file)"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false">
                <md-icon md-font-icon="fa-camera" class="fa or-recipe-upload-img" style="font-size: 5em"></md-icon>
                <span class="or-recipe-upload-img" translate="m_recipe.label.add_image"></span>

            </div>
        </md-input-container>
        <md-input-container>
            <label translate="m_recipe.label.video_url"></label>
            <input ng-model="recipeCreate.recipe.video">
        </md-input-container>
    </md-card-content>
</md-card>
<md-card class="md-whiteframe-10dp">
    <md-card-content layout="column" layout-xs="column" layout-align="center center">
        <div layout-gt-sm="row">
            <div>
                <!--Prep Time-->
                <md-input-container>
                    <label translate="m_recipe.label.pre_time"></label>
                    <input ng-model="recipeCreate.recipe.PreTime">
                </md-input-container>

                <!--Cook Time-->
                <md-input-container>
                    <label translate="m_recipe.label.cook_time"></label>
                    <input ng-model="recipeCreate.recipe.cookTime">
                </md-input-container>
            </div>
        </div>
        <div layout-gt-sm="row">
            <div>
                <!--Servings-->
                <md-input-container>
                    <label translate="m_recipe.label.servings"></label>
                    <input ng-model="recipeCreate.recipe.numServings">
                </md-input-container>

                <!--Cuisine-->
                <md-input-container>
                    <label translate="m_recipe.label.cuisine"></label>
                    <input ng-model="recipeCreate.recipe.cuisine">
                </md-input-container>
            </div>
        </div>
        <div layout-gt-sm="row">
            <div>
                <!--Category-->
                <md-input-container>
                    <label translate="m_recipe.label.category"></label>
                    <input ng-model="recipeCreate.recipe.category">
                </md-input-container>

                <!--Difficulty Level-->
                <md-input-container>
                    <label translate="m_recipe.label.difficulty_level"></label>
                    <input ng-model="recipeCreate.recipe.difficultyLevel">
                </md-input-container>
            </div>
        </div>
    </md-card-content>
</md-card>
