<md-card class="md-whiteframe-10dp">
    <md-card-content layout="column" layout-xs="column">
        <md-input-container class="or-recipe-upload">
            <div ngf-select="recipeCreate.uploadImage($file)" ngf-drop="recipeCreate.uploadImage(file)"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false">

                <md-icon ng-if="recipeCreate.imageName === null" md-font-icon="fa-camera" class="fa or-recipe-upload-img" style="font-size: 5em"></md-icon>
                <span ng-if="recipeCreate.imageName === null" class="or-recipe-upload-img" translate="m_recipe.label.add_image"></span>

                <img ng-if="recipeCreate.imageName != null " src="{{recipeCreate.imageUrl}}">

            </div>
        </md-input-container>
        <md-input-container>
            <label translate="m_recipe.label.video_url"></label>
            <input ng-model="recipeCreate.recipe.videoUrl">
        </md-input-container>
    </md-card-content>
</md-card>
<md-card class="md-whiteframe-10dp">
    <md-card-content>
        <div layout-gt-sm="row" layout-xs="column" layout-align="center">
            <!--Prep Time-->
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.pre_time"></label>
                <input ng-model="recipeCreate.recipe.preparationTime">
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <!--Servings-->
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.servings"></label>
                <input ng-model="recipeCreate.recipe.serving">
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <!--Cook Time-->
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.cook_time"></label>
                <input ng-model="recipeCreate.recipe.cookTime">
            </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-xs="column" layout-align="center">
            <!--Category-->
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.category"></label>
                <md-select ng-model="recipeCreate.recipe.category">
                    <md-option ng-repeat="lc in recipeCreate.loadCategories" value="{{lc.name}}">{{lc.name}}</md-option>
                </md-select>
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <!--Cuisine-->
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.cuisine"></label>
                <md-select ng-model="recipeCreate.recipe.cuisine">
                    <md-option ng-repeat="lc in recipeCreate.loadCuisine" value="{{lc}}">{{lc}}</md-option>
                </md-select>
            </md-input-container>

            <div flex="5" hide-xs hide-sm></div>

            <!--Difficulty Level-->
            <md-input-container flex="30" flex-xs="100">
                <label translate="m_recipe.label.difficulty_level"></label>
                <md-select ng-model="recipeCreate.recipe.difficultyLevel">
                    <md-option ng-repeat="lc in recipeCreate.loadDifficultyLevel" value="{{$index}}">{{lc}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-card-content>
</md-card>