<md-dialog aria-label="Login">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate="m_user.title.register"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="userRegister.cancel()">
                    <md-icon md-font-icon="fa-times" class="fa"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="or-user-dialog">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label translate="m_user.label.first_name"></label>
                    <input required ng-model="userRegister.user.firstName"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate="m_user.label.last_name"></label>
                    <input required ng-model="userRegister.user.lastName"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate="m_user.label.email"></label>
                    <input required type="email" name="email" ng-model="userRegister.user.email"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                </md-input-container>

                <md-input-container class="md-block">
                    <label translate="m_user.label.password"></label>
                    <input required type="password" name="password" ng-model="userRegister.user.password">
                </md-input-container>

                <div layout-align="center center" layout="row">
                    <md-button type="submit" class="md-raised md-primary" flex translate="g.b.register" ng-click="userRegister.signUp()"></md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>