<md-autocomplete style="float: left;"
        ng-disabled="search.isDisabled"
        md-selected-item="search.selectedItem"
        md-search-text="search.searchText"
        md-items="recipe in search.querySearch(search.searchText)"
        md-item-text="recipe.title"
        md-delay="300"
        md-min-length="3"
        placeholder="{{'search.text' | translate}}"
        md-menu-class="or-autocomplete">
    <md-item-template>
      <span class="item-title">
        <md-icon md-svg-icon="assets/icons/recipe_book.svg"></md-icon>
        <span md-highlight-text="search.searchText">{{recipe.title}}</span>
      </span>
        <span class="item-metadata">
        <span class="item-metastat">
          <strong>{{item.watchers}}</strong> watchers
        </span>
        <span class="item-metastat">
          <strong>{{item.forks}}</strong> forks
        </span>
      </span>
    </md-item-template>
</md-autocomplete>

<md-button ng-href="/recipe-search?keyword={{search.searchText}}">
    <md-icon md-font-icon="fa-search" class="fa"></md-icon>
</md-button>