<md-toolbar class="md-hue-2 md-toolbar-tools" layout="row" layout-wrap>
    <div flex="10"></div>
    <section layout="row" layout-sm="column"  layout-align="start center">
        <h5 translate="footer.copyright"></h5>
    </section>
    <div flex></div>
    <section layout-align="end center">
        <md-button
                href="http://facebook.com"
                title="Facebook"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-facebook" class="fa"></md-icon>
        </md-button>
        <md-button
                href="http://twitter.com"
                title="Twitter"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-twitter" class="fa"></md-icon>
        </md-button>
        <md-button
                href="http://instagram.com"
                title="Instagram"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-instagram" class="fa"></md-icon>
        </md-button>
    </section>
    <div flex="10"></div>
</md-toolbar>
