
<md-toolbar class="md-medium-tall md-hue-2 md-toolbar-tools" layout="row" layout-wrap>
    <div flex="10"></div>
    <section layout="row" layout-sm="column"  layout-align="start center">
        <h2 translate="app.name"></h2>
    </section>
    <div flex></div>
    <section hide="hide" show-gt-sm="show-gt-sm" layout-align="end center">
        <!--Guest Menu-->
        <md-button ng-if="!isUserLogedIn" ng-controller="UserRegisterController as userRegister" ng-click="userRegister.showDialog($event)">
            <md-icon md-font-icon="fa-user" class="fa"></md-icon>
            <span translate="g.b.register"></span>
        </md-button>
        <md-button ng-if="!isUserLogedIn" ng-controller="UserLoginController as userLogin" ng-click="userLogin.showDialog($event)">
            <md-icon md-font-icon="fa-sign-in" class="fa"></md-icon>
            <span translate="g.b.login"></span>
        </md-button>

        <!--User Menu-->
        <md-menu ng-if="isUserLogedIn">
            <md-button ng-click="shared.openMenu($mdOpenMenu, $event)">
                {{session.user.lastName}}
                <md-icon class="fa" md-font-icon="fa-caret-square-o-down"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-href="/profile-edit">
                        <md-icon class="fa" md-font-icon="fa-id-card"></md-icon>
                        Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-href="/profile-show?page=1&userId=1">
                        <md-icon class="fa" md-font-icon="fa-heart"></md-icon>
                        Favorites
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-href="/profile-show?page=2&userId=1">
                        <md-icon class="fa" md-font-icon="fa-cutlery"></md-icon>
                        My Recipe
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-href="/recipe-create">
                        <md-icon class="fa" md-font-icon="fa-plus"></md-icon>
                        Add Recipe
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </section>

    <md-button ng-if="isUserLogedIn" ng-controller="UserLogoutController as userLogout" ng-click="userLogout.logout()">
        <md-icon md-font-icon="fa-sign-out" class="fa"></md-icon>
        <span translate="g.b.logout"></span>
    </md-button>

    <section hide-gt-sm="hide-gt-sm" layout-align="end center">
        <md-button ng-click="shared.toggleSidenav('left')" class="md-icon-button">
            <md-icon md-font-icon="fa-bars" class="fa"></md-icon>
        </md-button>
    </section>
    <div flex="10"></div>
</md-toolbar>
