<md-card class="md-whiteframe-10dp">
    <md-card-content>
        <ul class="or-recipe-profile-detail">
            <li>
                Preparation Time:
                <span class="value">10min</span>
            </li>
            <li>
                Cook Time:
                <span class="value">35min</span>
            </li>
            <li>
                Serving:
                <span class="value">4 People</span>
            </li>
            <li>
                Cuisine:
                <span class="value">Asia</span>
            </li>
            <li>
                Category:
                <span class="value">Vegan</span>
            </li>
            <li>
                Ratings::
                <span class="value">4 People</span>
            </li>
            <li>
                Difficulty Level::
                <span class="value">4 People</span>
            </li>
            <li>
                Created:
                <span class="value">Feb 24, 2016</span>
            </li>
        </ul>
    </md-card-content>
</md-card>
