<md-card layout-align="center center" class="md-whiteframe-10dp">
    <md-card-content>
        <md-button
                href="http://facebook.com"
                title="Facebook"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-facebook" class="fa"></md-icon>
        </md-button>
        <md-button
                href="http://twitter.com"
                title="Twitter"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-twitter" class="fa"></md-icon>
        </md-button>
        <md-button
                href="http://twitter.com"
                title="Twitter"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-heart" class="fa"></md-icon>
        </md-button>
        <md-button
                href="http://twitter.com"
                title="Twitter"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-thumbs-up" class="fa"></md-icon>
        </md-button>
        <md-button
                href="http://twitter.com"
                title="Twitter"
                target="_blank"
                class="md-icon-button launch" >
            <md-icon md-font-icon="fa-print" class="fa"></md-icon>
        </md-button>
    </md-card-content>
</md-card>

<div style="margin-bottom: 20px; margin-top: 20px"></div>

<md-card class="md-whiteframe-10dp">
    <md-card-title>
        <md-card-title-media style="margin-right: 20px">
            <img src="{{recipeProfile.recipe.user.imageUrl}}" class="md-media-sm card-media">
        </md-card-title-media>
        <md-card-title-text>
            <span class="md-headline">{{recipeProfile.recipe.user.firstName}} {{recipeProfile.recipe.user.lastName}}</span>
            <span class="md-subhead">Small</span>
        </md-card-title-text>
    </md-card-title>
</md-card>